---
layout: post
title: Membros
thumbnail: user
---

<div class="page-content">
  {% for membro in site.membros %}
  <div class="membros">
	<h3>Prof. Dr. {{ membro.name }}</h3>
	<a data-toggle="collapse" href="#collapse{{ forloop.index }}"><i class="fa fa-caret-down"></i> Ver detalhes</a>
	<div id="collapse{{ forloop.index }}" class="panel-collapse collapse">
	  <p>
		<a href={{ membro.lattes }}>Currículo Lattes</a>
		<br/>
		{% if membro.pessoal == "" %}
		<a href={{ membro.pessoal }}>Página Pessoal</a>
		{% endif %}
	  </p>
	</div>
  </div>
  {% endfor %}
</div>
